absl-py==1.4.0
aggdraw==1.3.18.post0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
altair==5.3.0
altgraph==0.17.3
annotated-types==0.6.0
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
audioread==3.0.1
auto-py-to-exe==2.30.0
backcall==0.2.0
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==6.0.0
blinker==1.6.2
bottle==0.12.24
bottle-websocket==0.2.9
cachetools==5.2.1
certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
click-default-group==1.2.4
cloup==0.13.1
cmake==3.25.2
colorama==0.4.6
colour==0.1.5
comm==0.1.3
comtypes==1.1.14
contourpy==1.0.7
cv==1.0.0
cx-Oracle==8.3.0
cycler==0.11.0
dataclasses-json==0.6.3
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dlib==19.24.0
dnspython==2.4.2
docutils==0.19
Eel==0.14.0
eventlet==0.34.2
exceptiongroup==1.2.0
executing==1.2.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.105.0
fastjsonschema==2.16.3
filelock==3.8.2
Flask==2.3.2
Flask-Cors==3.0.10
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
flatbuffers==24.3.25
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2024.6.0
future==0.18.3
gast==0.4.0
gd==0.1.11
geographiclib==2.0
geopy==2.3.0
gevent==22.10.2
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
glcontext==2.5.0
google==3.0.0
google-api-core==2.11.0
google-api-python-client==2.73.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.58.0
greenlet==2.0.2
grpcio==1.53.0
gTTS==2.3.1
h11==0.14.0
h3==3.7.6
h5py==3.11.0
httplib2==0.21.0
idna==2.10
imageio==2.27.0
imgaug==0.4.0
inflect==7.5.0
intel-openmp==2021.4.0
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
isosurfaces==0.1.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
keras==3.8.0
Keras-Applications==1.0.8
keras-utils==1.0.13
keras-vggface==0.6
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
langchain==0.1.0
langchain-community==0.0.10
langchain-core==0.1.8
langsmith==0.0.77
lazy_loader==0.2
libclang==16.0.0
librosa==0.10.2.post1
llvmlite==0.43.0
Mako==1.1.3
manim==0.17.3
ManimPango==0.4.4
mapbox-earcut==1.0.1
Markdown==3.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mkl==2021.4.0
ml-dtypes==0.4.0
moderngl==5.8.2
moderngl-window==2.4.4
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.4
multipledispatch==1.0.0
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.0
namex==0.0.8
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
netifaces==0.10.6
networkx==2.8.8
nltk==3.8.1
nodejs==0.1.1
notebook==6.5.4
notebook_shim==0.2.2
numba==0.60.0
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.0
opencv-contrib-python==4.7.0.68
opencv-python==4.9.0.80
opt-einsum==3.3.0
optional-django==0.1.0
optree==0.12.1
packaging==23.2
pandas==2.0.0
pandocfilters==1.5.0
parso==0.8.3
pdoc3==0.9.1
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.4.0
pipenv==2022.12.19
platformdirs==2.6.0
playsound==1.3.0
pooch==1.8.2
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.21.12
psutil==5.9.4
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pycairo==1.25.1
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.1
pydot==2.0.0
pydub==0.25.1
pygame==2.1.3
pyglet==2.0.9
Pygments==2.14.0
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
pylance==0.6.5
pyodbc==4.0.39
pyoxidizer==0.24.0
pyparsing==3.0.9
pypiwin32==223
pyproj==3.7.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyrr==0.10.3
pyrsistent==0.19.3
python-dateutil==2.8.2
python-demo==0.0.3
python-engineio==4.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
python-socketio==5.11.0
pyttsx3==2.90
pytube==15.0.0
pytz==2023.3
PyWavelets==1.4.1
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.4.2
qtgui==0.0.1
QtPy==2.3.1
regex==2023.8.8
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.1
scipy==1.10.0
screeninfo==0.8.1
Send2Trash==1.8.0
sendmail==2.0
shapely==2.0.2
simple-websocket==1.0.0
six==1.16.0
skia-pathops==0.7.4
sklearn==0.0.post1
smmap==5.0.1
sniffio==1.3.0
socketio==0.2.1
soundfile==0.13.0
soupsieve==2.3.2.post1
soxr==0.5.0.post1
spacexPython==1.0.1
SpeechRecognition==3.8.1
SQLAlchemy==2.0.17
srt==3.5.3
stack-data==0.6.2
starlette==0.27.0
streamlit==1.34.0
svgelements==1.9.6
sympy==1.12
tbb==2021.12.0
tenacity==8.2.3
tensorboard==2.17.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
tflearn==0.5.0
threadpoolctl==3.1.0
tifffile==2023.3.21
timezonefinder==6.2.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
torch==2.3.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typeguard==4.4.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
Unidecode==1.3.8
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.25.10
uvicorn==0.24.0.post1
virtualenv==20.17.1
virtualenv-clone==0.5.7
visualkeras==0.0.2
watchdog==2.3.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.5.1
Werkzeug==2.3.6
whichcraft==0.6.1
widgetsnbextension==4.0.7
wikipedia==1.4.0
winaudio==1.0.6
wrapt==1.14.1
wsproto==1.2.0
yarl==1.8.2
youtube-dl==2021.12.17
zope.event==4.6
zope.interface==5.5.2
